.additional-goods {
  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.additional-goods__title {
  margin: 0;

  font-weight: normal;
  font-size: (@size + 8);
  line-height: 1;
}

.additional-goods__list {
  margin: 0;
}

.additional-goods__subtitle {
  margin: 0;

  font-weight: normal;
  font-size: @size;
  line-height: 1;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.additional-goods__table {
  font-size: (@size - 2);
  line-height: 1;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.additional-goods__order {
  font-size: @size;
  line-height: 1;
  color: @basic-white;

  background-color: @basic_green;
}
