@size: 14px;

.additional-goods {
  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.additional-goods__title {
  font-weight: normal;
  font-size: (@size + 10);
  line-height: (@size + 10);
}

.additional-goods__subtitle {
  font-weight: normal;
  font-size: (@size + 2);
  line-height: (@size + 2);
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.additional-goods__table {
  font-family: Arial;
  font-size: @size;
  line-height: @size;
  color: @special_dark-grey;
}

.additional-goods__order {
  font-size: (@size + 2);
  line-height: (@size + 2);
  text-transform: uppercase;
  color: @basic-white;

  background-color: @basic_green;
}
