.catalog {
  padding-top: 27px;

  //outline: 5px solid rgba(0, 0, 255, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}

.catalog__title {
  margin-bottom: 41px;

  font-weight: normal;
  font-size: (@size + 20);
  line-height: 1;

  @media (min-width: @tablet-width) {
    margin-bottom: 164px;

    font-size: (@size + 44);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 165px;
  }
}
