.catalog {
  padding-top: 27px;
  padding-bottom: 35px;

  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  padding-right: 18px;
  padding-left: 20px;

  font-weight: normal;
  font-size: (@size + 20);
  line-height: 1;

  @media (min-width: @tablet-width) {
    margin-bottom: 164px;
    padding-right: 30px;
    padding-left: 30px;

    font-size: (@size + 44);
  }
}
