.copyright {
  display: flex;
  justify-content: space-between;

  //outline: 5px solid rgba(0, 0, 255, 0.5);
  //outline-offset: -5px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @tablet-width) {
    min-width: 163px;
    width: 163px;
  }
}

.copyright__text {
  margin-top: 6px;

  font-size: @size;
  line-height: 1.125;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.copyright__logo {
  height: 34px;
}
