.example {
  padding-bottom: 25px;

  background-color: @example_background;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;

    background-color: @basic-white;
    border-top: 1px solid @main_menu_line;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    padding-bottom: 0;

    background: linear-gradient(to right, @basic_grey 50%, @example_background) no-repeat bottom center / 100% calc(100% - 185px);
    border-top: none;
  }
}

.example__wrapper {
  margin-bottom: 42px;
  padding-top: 27px;

  //outline: 5px solid rgba(0, 0, 255, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
    //min-height: 656px;
    padding-top: 58px;
    padding-bottom: 75px;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  font-weight: normal;
  font-size: (@size + 20);
  line-height: 1.11;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;

    font-size: (@size + 44);
    line-height: 1;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  width: 279px;

  font-size: (@size - 2);
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    width: 702px;
    margin-bottom: 54px;

    font-size: @size;
    line-height: 1.5;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}

.example__slider {
  //padding-bottom: 29px;

  @media (min-width: @tablet-width) {
    //min-height: 462px;
    padding-bottom: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}
