.form__fieldset-data {
  .fieldset ();

  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
}

.form__fieldset-data-list {
  .fieldset-list ();

  color: @special_dark-grey;
}

.form__fieldset-data-name {
  .fieldset-input ();
}

.form__fieldset-data-weight {
  .fieldset-input ();
}

.form__fieldset-data-age {
  .fieldset-input ();
}

.form__fieldset-program {
  .fieldset ();

  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
}

.form__fieldset-program-list {
  .fieldset-list ();

  color: @special_dark-grey-2;
}

.form__fieldset-contact-details {
  .fieldset ();

  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.form__fieldset-contact-details-title {
  .fieldset-title ();
}

.form__fieldset-contact-details-list {
  .fieldset-list ();

  color: @special_dark-grey;
}

.form__fieldset-contact-details-email {
  .fieldset-input ();
}

.form__fieldset-contact-details-tel {
  .fieldset-input ();
}

.form__fieldset-comment {
  .fieldset ();

  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
}

.form__fieldset-comment-title {
  .fieldset-title ();
}

.form__fieldset-comment-text {
  font-size: @size;
  line-height: 1.12;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @special_dark-grey;
}

.form__fieldset-extra {
  .fieldset ();

  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
}

.form__fieldset-extra-title {
  .fieldset-title ();
}

.form__fieldset-extra-list {
  .fieldset-list ();
}
