.form__wrapper {
  width: auto;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding-right: 37px;
    padding-bottom: 95px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    width: 1220px;
    padding: 0;
    padding-bottom: 89px;
  }
}

.form__fieldset-data {
  .fieldset ();

  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.form__fieldset-data-list {
  .fieldset-list ();

  display: grid;
  grid-template-rows: 1fr;
  row-gap: 13px;

  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    row-gap: 20px;
    width: auto;
  }
}

.form__fieldset-data-item {
  display: flex;
  align-items: center;
}

.form__fieldset-data-name {
  .fieldset-input ();

  margin-left: 14px;
  padding-right: 15px;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    padding-right: 19px;
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.form__fieldset-data-weight {
  .fieldset-input ();

  margin-left: 14px;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: @tablet-width) {
    padding-right: 19px;
    padding-left: 19px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 19px;
    padding-left: 19px;
  }
}

.form__fieldset-data-age {
  .fieldset-input ();

  margin-left: 14px;
  padding-right: 16px;
  padding-left: 16px;

  @media (min-width: @tablet-width) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 18px;
    padding-left: 18px;
  }
}

.form__fieldset-data-name,
.form__fieldset-data-weight,
.form__fieldset-data-age {
  border-color: @separate_line-tablet;

  &:hover {
    border-color: @special_grey;
  }

  &:active,
  &:focus {
    border: 2px solid @special_dark-grey;
    outline: none;
  }

  &:invalid {
    border: 2px solid @special-invalid;
  }
}

.form__fieldset-program {
  .fieldset ();

  padding-top: 20px;
  padding-bottom: 22px;

  border-top: 1px solid @separate_line;
  border-bottom: 1px solid @separate_line;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-right: 28px;
    padding-bottom: 25px;
    padding-left: 28px;

    border: 1px solid @separate_line-tablet;
  }
}

.form__fieldset-program-list {
  .fieldset-list ();

  display: grid;
  grid-template-rows: 1fr;
  row-gap: 13px;

  color: @special_dark-grey-2;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.form__fieldset-program-label {
  .fieldset-input-decoration ();

  &::before {
    border-radius: 50%;
  }

  &:hover::before {
    border-color: @special-hover;
  }

  .form__fieldset-program-input:disabled + &::before {
    opacity: 0.3;
  }

  .form__fieldset-program-input:disabled + & {
    color: @basic-black03;
  }
}

.form__fieldset-program-input:checked + .form__fieldset-program-label {
  &::after {
    content: "";
    position: absolute;
    left: ((@radio-check-size - @radiobutton-size-active) / 2);

    width: @radiobutton-size-active;
    height: @radiobutton-size-active;

    background-color: @basic_green;
    border-radius: 50%;
  }

  @media (min-width: @tablet-width) {
    &::after {
      left: (((@radio-check-size + 10) - (@radiobutton-size-active + 4.5)) / 2);

      width: (@radiobutton-size-active + 4.5);
      height: (@radiobutton-size-active + 4.5);
    }
  }
}

.form__fieldset-program-input:checked:disabled + .form__fieldset-program-label {
  &::after {
    opacity: 0.3;
  }
}

.form__fieldset-contact-details {
  .fieldset ();

  position: relative;

  padding-top: 66px;
  padding-bottom: 44px;

  border-top: 2px solid @basic_green;
  //outline: 5px solid rgba(0, 255, 0, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 88px;
    padding-bottom: 89px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 93px;
  }
}

.form__fieldset-contact-details-title {
  .fieldset-title ();

  &--line {
    position: absolute;
    top: -18px;

    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -49px;

    @media (min-width: @tablet-width) {
      top: -24px;

      margin-left: -57px;
    }

    @media (min-width: @desktop-width) {
      margin-left: -354px;
    }
  }

  @media (min-width: @tablet-width) {
    //margin-bottom: 76px;
    //padding-top: 75px;
  }

  @media (min-width: @desktop-width) {
    //padding-top: 69px;
  }
}

.form__fieldset-contact-details-title-text {
  display: block;
  width: 222px;
  padding-right: 15px;
  padding-left: 20px;

  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    width: 593px;
    padding-right: 39px;
    padding-left: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 592px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.form__fieldset-contact-details-list {
  .fieldset-list ();

  display: grid;
  grid-template-rows: 1fr;
  row-gap: 14px;

  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    row-gap: 20px;
    padding-right: 37px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 0;
  }
}

.form__fieldset-contact-details-item {
  display: flex;
  align-items: center;
}

.form__fieldset-contact-details-email {
  .fieldset-input ();

  margin-left: 12px;
  padding-right: 15px;
  padding-left: 15px;

  &--icon-email {
    padding-right: 40px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13' fill='%23222222'%3E%3Cpath d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E");
    background-size: 20px 14px;
    background-position: 92% center;
    background-repeat: no-repeat;

    &:active,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13' fill='%2368B738'%3E%3Cpath d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E");
    }

    &:invalid {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 13' fill='%23FF8282'%3E%3Cpath d='M15.6 11.6H1.4V5.8H0V13h17V5.8h-1.4v5.8zM0 0v2.3l8.5 7.1L17 2.3V0H0zm15.6 1.6L8.5 7.5 1.4 1.6v-.2h14.2v.2z'/%3E%3C/svg%3E");
    }

    @media (min-width: @tablet-width) {
      background-size: 18px 13px;
      background-position: 96% center;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 18px;
    padding-right: 21px;
    padding-left: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 20px;
    padding-right: 19px;
    padding-left: 19px;
  }
}

.form__fieldset-contact-details-tel {
  .fieldset-input ();

  margin-left: 9px;
  padding-right: 16px;
  padding-left: 16px;

  &--icon-tel {
    padding-right: 40px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23222222'%3E%3Cpath d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1C1.5-.1.1 1.2 0 2.9V16.8c-.1 1.7 1.2 3.1 2.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E");
    background-size: 20px 20px;
    background-position: 92% center;
    background-repeat: no-repeat;

    &:active,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%2368B738'%3E%3Cpath d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1C1.5-.1.1 1.2 0 2.9V16.8c-.1 1.7 1.2 3.1 2.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E");
    }

    &:invalid {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23FF8282'%3E%3Cpath d='M17.9 9.4H9.4v1.2h8.5l-2.1 2.1.9.9 3.1-3.1c.2-.2.2-.6 0-.9l-3.1-3.1-.9.9 2.1 2zM8.1 19.4v-6.2c0-.3-.3-.6-.6-.6H3.1c0 .7.6 1.2 1.2 1.2h2.5v5H3.1c-1 .1-1.8-.7-1.9-1.7v-14c0-1 .8-1.8 1.7-1.8H6.8v5H4.4c-.7 0-1.2.6-1.2 1.2h4.4c.3 0 .6-.3.6-.6V.6C8.1.3 7.8 0 7.5 0H3.1C1.5-.1.1 1.2 0 2.9V16.8c-.1 1.7 1.2 3.1 2.9 3.1H7.5c.3.1.6-.2.6-.5z'/%3E%3C/svg%3E");
    }

    @media (min-width: @tablet-width) {
      background-position: 96% center;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 14px;
    padding-right: 21px;
    padding-left: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 15px;
    padding-right: 18px;
    padding-left: 18px;
  }
}

.form__fieldset-contact-details-email,
.form__fieldset-contact-details-tel {
  border-color: @special_grey;

  &:hover {
    border-color: @special_grey;
  }

  &:active,
  &:focus {
    border: 2px solid @special_dark-grey;
    outline: none;
  }

  &:invalid {
    border: 2px solid @special-invalid;
  }
}

.form__fieldset-comment {
  .fieldset ();

  position: relative;

  padding-top: 43px;
  padding-bottom: 44px;

  border-top: 2px solid @basic_green;
  //outline: 5px solid rgba(255, 0, 0, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 88px;
    padding-bottom: 89px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 92px;
  }
}

.form__fieldset-comment-title {
  .fieldset-title ();

  width: 100%;

  &--line {
    position: absolute;
    top: -17px;

    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -85px;

    @media (min-width: @tablet-width) {
      top: -24px;

      margin-left: -224px;
    }

    @media (min-width: @desktop-width) {
      margin-left: -519px;
    }
  }
}

.form__fieldset-comment-title-text {
  display: block;
  padding-right: 15px;
  padding-left: 20px;

  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    padding-right: 38px;
    padding-left: 38px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.form__fieldset-comment-textarea {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding-right: 37px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__fieldset-comment-text {
  display: block;
  padding: 0;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;
  padding-left: 12px;

  font-size: @size;
  line-height: 1.12;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @special_dark-grey;

  border: 1px solid;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-right: 19px;
    padding-bottom: 10px;
    padding-left: 19px;

    font-size: (@size + 4);
    line-height: 1.5;
  }
}

.form__fieldset-extra {
  .fieldset ();

  position: relative;

  padding-top: 43px;
  padding-bottom: 34px;

  border-top: 2px solid @basic_green;
  //outline: 5px solid rgba(0, 0, 255, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 69px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 68px;
    padding-bottom: 61px;
  }
}

.form__fieldset-extra-title {
  .fieldset-title ();

  width: 100%;

  &--line {
    position: absolute;
    top: -17px;

    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -70px;

    @media (min-width: @tablet-width) {
      top: -24px;

      margin-left: -208px;
    }

    @media (min-width: @desktop-width) {
      top: -25px;

      margin-left: -504px;
    }
  }
}

.form__fieldset-extra-title-text {
  display: block;
  padding-right: 20px;
  padding-left: 20px;

  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    padding-right: 41px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 40px;
  }
}

.form__fieldset-extra-list {
  .fieldset-list ();

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 32px;
    padding-right: 37px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    padding: 0;
  }
}

.form__fieldset-extra-label {
  .fieldset-input-decoration ();

  &:hover::before {
    border-color: @special-hover;
  }

  .form__fieldset-extra-input:disabled + &::before {
    opacity: 0.3;
  }

  .form__fieldset-extra-input:disabled + & {
    color: @basic-black03;
  }
}

.form__fieldset-extra-input:checked + .form__fieldset-extra-label {
  &::after {
    content: "";
    position: absolute;
    left: ((@radio-check-size - @tick-width) / 2);

    width: @tick-width;
    height: @tick-height;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21.1 15.5' fill='%2368B738'%3E%3Cpath d='M20.1 0L7.7 13.3 1 6.1 0 7.2l7.6 8.2.1.1L21 1.2l.1-.1z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    &::after {
      left: (((@radio-check-size + 10) - @tick-width) / 2);
    }
  }
}
