@size: 16px;

.gift {
  background-color: @basic_green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.gift__promo {
  font-family: Arial;
  font-size: @size;
  line-height: (@size * 1.25);
  color: @basic-white;
}
