@size: 12px;

.highlights__value {
  font-size: (@size * 2);
  line-height: (@size * 2);
}

.highlights__description {
  font-family: Arial;
  font-size: @size;
  line-height: @size;
  color: @special_dark-grey;
}

.highlights__paragraph {
  font-size: (@size + 2);
  line-height: ((@size + 2) * 1.43);
  text-transform: uppercase;
}
