.highlights__value {
  font-size: @size + 8;
  line-height: 1;
}

.highlights__description {
  font-size: (@size - 4);
  line-height: 1;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.highlights__paragraph {
  font-size: (@size - 2);
  line-height: 1.43;
  text-transform: uppercase;
}
