@size: 14px;

.location {
  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
}

.location__invitation {
  margin: 0;

  font-size: (@size + 2);
  line-height: ((@size + 2) * 1.12);
  text-transform: uppercase;
}

.location__adress {
  font-family: Arial;
  font-size: @size;
  line-height: (@size * 1.43);
  color: @special_dark-grey;
}
