.location {
  background-color: @basic-white;
  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
}

.location__wrapper {
  padding-top: 28px;
}

.location__invitation {
  margin: 0;

  font-size: @size;
  line-height: 1.12;
  text-transform: uppercase;
  color: @cat_energy;
}

.location__adress {
  margin: 0;

  font-size: (@size - 2);
  line-height: 1.43;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.location__map {
  margin: 0;
}
