.main-goods {
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
}

.main-goods__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 324px 324px;
    justify-content: center;
    row-gap: 140px;
    column-gap: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    row-gap: 145px;
    column-gap: 80px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.main-goods__item {
  display: grid;
  grid-template-areas: "image title"
    "image table"
    "button button";
  grid-template-columns: 140fr 142fr;
  padding-top: 19px;
  padding-right: 18px;
  padding-bottom: 25px;
  padding-left: 20px;

  border-top: 1px solid @catalog_line;

  @media (min-width: @tablet-width) {
    position: relative;

    display: block;
    margin: 0;
    padding-top: 161px;
    padding-bottom: 40px;

    background-color: @basic_grey;
    border-top: none;
  }
}

.main-goods__image {
  grid-area: image;

  //line-height: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -73px;
    left: 50%;
  }

  @media (min-width: @desktop-width) {
    top: -80px;
  }
}

.main-goods__title {
  grid-area: title;
  margin: 0;

  font-weight: normal;
  font-size: @size;
  line-height: 1.25;
  text-transform: uppercase;
  color: @special_dark-grey-2;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }
}

.main-goods__table {
  grid-area: table;

  font-size: (@size - 4);
  line-height: 1.33;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.main-goods__order {
  grid-area: button;
  margin-right: 2px;

  font-size: @size;
  line-height: 1;
  color: @basic-white;

  background-color: @basic_green;

  @media (min-width: @tablet-width) {
    margin-top: 87px;
  }
}

.main-goods__all-products {
  padding-top: 79px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;

  text-align: center;

  border-top: 1px solid @catalog_line;
  border-bottom: 1px solid @catalog_line;
  //outline: 5px solid rgba(0, 255, 0, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 161px;

    border: 2px solid @catalog_line;
  }
}

.main-goods__intoduction {
  margin: 0;
  margin-bottom: 8px;

  font-size: @size;
  line-height: 1.25;
  text-transform: uppercase;
  color: @cat_energy;
}

.main-goods__exclamation {
  margin: 0;

  font-size: (@size - 4);
  line-height: 1.33;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
  }
}

.main-goods__to-all {
  margin: 0 auto;
  margin-top: 21px;

  font-size: @size;
  line-height: 1;
  color: @special_dark-grey;

  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    margin-top: 87px;
  }
}
