.main-goods {
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
}

.main-goods__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-goods__item {
  display: grid;
  grid-template-areas: "image title"
                        "image table"
                        "button button";
  grid-template-columns: 720px 720px;
}

.main-goods__title {
  margin: 0;

  font-weight: normal;
  font-size: @size;
  line-height: 1.25;
  text-transform: uppercase;
  color: @special_dark-grey-2;
}

.main-goods__table {
  font-size: (@size - 4);
  line-height: 1.33;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.main-goods__order {
  font-size: @size;
  line-height: 1;
  color: @basic-white;

  background-color: @basic_green;
}

.main-goods__all-products {
  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.main-goods__intoduction {
  margin: 0;

  font-size: @size;
  line-height: 1.25;
  text-transform: uppercase;
  color: @cat_energy;
}

.main-goods__exclamation {
  margin: 0;

  font-size: (@size - 4);
  line-height: 1.33;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
}

.main-goods__to-all {
  font-size: @size;
  line-height: 1;
  color: @special_dark-grey;

  background-color: @basic_grey;
}
