.page-form {
  padding-top: 27px;
  padding-bottom: 32px;

  //outline: 5px solid rgba(0, 255, 0, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {

    padding-top: 64px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 73px;
    padding-bottom: 82px;
  }
}

.page-form__title {
  margin-bottom: 37px;

  font-weight: normal;
  font-size: (@size + 20);
  line-height: 1;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;

    font-size: (@size + 44);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

br {
  display: inline;
}

.page-form__text {
  margin-bottom: 39px;

  font-size: (@size - 2);
  line-height: 1.29;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
    padding-right: 37px;
    padding-left: 40px;

    font-size: (@size + 4);
    line-height: 1.5;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.page-form__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    align-items: center;
    padding-right: 37px;
    padding-left: 40px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 80px;
    padding: 0;
  }
}

.page-form__request {
  margin: 0;
}

.page-form__button {
  width: 100%;
  margin-bottom: 21px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: @size;
  line-height: 1.25;
  font-family: "Oswald", "Arial", sans-serif;
  color: @basic-white;

  background-color: @basic_green;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;

    font-size: (@size + 4);
    line-height: 1;
  }
}

.page-form__footnote {
  display: block;

  font-size: (@size - 2);
  line-height: 1.14;
  font-family: "Arial", sans-serif;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }
}
