@size: 14px;

.page-form {
  padding-top: 27px;
  padiing-right: 20px;
  padding-left: 20px;
  padding-bottom: 32px;

  outline: 5px solid rgba(0, 255, 0, 0.5);
  outline-offset: -5px;
}

.page-form__title {
  margin: 0;

  font-size: (@size + 22);
  line-height: (@size + 22);
}

.page-form__text {
  font-size: @size;
  line-height: (@size * 1.29);
  text-transform: uppercase;
}

.page-form__button {
  font-size: (@size + 2);
  line-height: ((@size + 2) * 1.25);
  text-transform: uppercase;
  color: @basic-white;

  background-color: @basic_green;
}

.page-form__footnote {
  font-family: "Arial";
  font-weight: normal;
  font-size: @size;
  line-height: (@size * 1.14);
}
