@size: 14px;

.programs {
  padiing-right: 20px;
  padding-left: 20px;

  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
}

.programs__list {
  margin: 0;
}

.programs__title {
  margin: 0;

  font-weight: normal;
  font-size: (@size + 10);
  line-height: ((@size + 10) * 1.54);
  text-transform: uppercase;
}

.programs__description {
  font-family: Arial;
  font-size: @size;
  line-height: (@size * 1.29);
  color: @special_dark-grey;
}

.programs__link {
  font-size: (@size + 2);
  line-height: (@size + 2);
  text-transform: uppercase;
  color: @basic-black;
}
