.promo {
  padding-top: 27px;
  padding-bottom: 22px;

  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-areas: "text"
                         "button"
                         "image";
    padding-top: 62px;
    padding-right: 30px;
    padding-left: 29px;
  }

  @media (min-width: @desktop-width) {
    grid-template-areas: "text image"
                         "button image";
    grid-template-columns: 720px 720px;
    min-height: 696px;
    padding: 0;
  }
}

.promo__wrapper {
  min-height: 305px;

  color: @basic-white;

  background-color: @basic_green;
  outline: 5px solid rgba(255, 0, 0, 0.5);
  outline-offset: -5px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    grid-area: text;
    min-height: 121px;

    color: @basic-black;

    background-color: @basic-white;
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 223px;
    padding-left: 190px;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: normal;
  font-size: (@size + 20);
  line-height: 1;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;

    font-size: (@size + 44);
  }
}

.promo__slogan {
  margin: 0;

  font-size: (@size - 2);
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: (@size + 4);
  }
}

.promo__image {
  position: absolute;

  margin: 0;
  margin-top: -138px;

  line-height: 0;

  @media (min-width: @tablet-width) {
    position: static;

    grid-area: image;

    margin-top: -83px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 143px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.promo__button {
  margin: 0 auto;
  margin-top: 135px;

  font-size: (@size - 2);
  line-height: 1.29;
  color: @basic-white;

  background-color: @basic_green;

  @media (min-width: @tablet-width) {
    grid-area: button;

    margin-top: 49px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
  }
}
