@size: 14px;

.promo {
  padding-top: 27px;
  padiing-right: 20px;
  padding-left: 20px;
  padding-bottom: 22px;

  color: @basic-white;

  background-color: @basic_green;
  outline: 5px solid rgba(0, 0, 255, 0.5);
  outline-offset: -5px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.promo__title {
  margin: 0;

  font-size: (@size + 22);
  line-height: (@size + 22);
}

.promo__slogan {
  font-size: @size;
  line-height: @size;
  text-transform: uppercase;
}

.promo__button {
  font-size: @size;
  line-height: (@size * 1.29);
  text-transform: uppercase;
  color: @basic-white;

  background-color: @basic_green;
}
