.working {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 42px;

  //outline: 5px solid rgba(0, 0, 255, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-bottom: 11px;
  }
}

.working__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 38px;

  font-weight: normal;
  font-size: (@size + 20);
  line-height: 1.11;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.working__list {
  display: grid;
  row-gap: 20px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 249px 249px;
    column-gap: 135px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }
}

.working__item {
  position: relative;

  display: flex;
  align-items: center;

  padding-left: 80px;

  font-size: (@size - 2);
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;

  &--background-color {
    &::before {
      content: "";

      position: absolute;
      left: 0;

      width: 60px;
      height: 60px;

      background-color: @basic_green;
      background-size: 60px 60px;
    }
  }

  &--nutrients {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");
      background-position: center center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
      background-position: center center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--feeding {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
      background-position: center center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--weight {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
      background-position: center center;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  @media (min-width: @tablet-width) {
    align-items: start;

    margin-top: 151px;
    margin-bottom: 57px;
    padding-left: 0;

    font-size: @size;
    line-height: 1.5;

    &--background-color {
      &::before {
        top: -111px;

        width: 80px;
        height: 80px;
      }
    }

    &--nutrients {
      &::after {
        content: "1";

        position: absolute;
        z-index: -1;
        right: 20px;
        bottom: -60px;

        font-size: (@size + 264);
        line-height: 1;
        font-family: "Oswald", "Arial", sans-serif;
        color: @basic_grey;
      }
    }

    &--powder {
      &::after {
        content: "2";

        position: absolute;
        z-index: -1;
        right: 10px;
        bottom: -60px;

        font-size: (@size + 264);
        line-height: 1;
        font-family: "Oswald", "Arial", sans-serif;
        color: @basic_grey;
      }
    }

    &--feeding {
      &::after {
        content: "3";

        position: absolute;
        z-index: -1;
        right: -5px;
        bottom: -60px;

        font-size: (@size + 264);
        line-height: 1;
        font-family: "Oswald", "Arial", sans-serif;
        color: @basic_grey;
      }
    }

    &--weight {
      &::after {
        content: "4";

        position: absolute;
        z-index: -1;
        right: 0;
        bottom: -60px;

        font-size: (@size + 264);
        line-height: 1;
        font-family: "Oswald", "Arial", sans-serif;
        color: @basic_grey;
      }
    }
  }
}

.working__item br {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
