.working {
  display: flex;
  flex-direction: column;
  padding-top: 27px;
  padding-bottom: 42px;

  //outline: 5px solid rgba(0, 0, 255, 0.5);
  //outline-offset: -5px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-bottom: 205px;
  }
}

.working__title {
  align-self: flex-start;
  margin: 0;
  margin-bottom: 38px;

  font-weight: normal;
  font-size: (@size + 20);
  line-height: 1.11;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
  }
}

.working__list {
  display: grid;
  row-gap: 20px;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 249px 249px;
    column-gap: 135px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }
}

.working__item {
  margin-left: 80px;

  font-size: (@size - 2);
  line-height: 1.29;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    margin-top: 151px;
    margin-bottom: 57px;
    margin-left: 0;
    //padding-right: 4px;

    font-size: @size;
    line-height: 1.5;
  }
}

.working__item br {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}
