@basic-white: #FFFFFF;
@basic-white03: rgba(255, 255, 255, 0.3);
@basic-black: #000000;
@basic-black016: rgba(0, 0, 0, 0.16);
@basic-black019: rgba(0, 0, 0, 0.19);
@basic-black02: rgba(0, 0, 0, 0.2);
@basic-black024: rgba(0, 0, 0, 0.24);
@basic-black03: rgba(0, 0, 0, 0.3);
@basic-black04: rgba(0, 0, 0, 0.4);
@basic_grey: #F2F2F2;
@special-invalid: #FF8282;
@basic_green: #68B738;
@basic_green-2: #5EAA2F;
@cat_energy: #111111;
@example_background: #EAEAEA;
@main_menu_line: #E6E6E6;
@catalog_line: #EBEBEB;
@icon-plus: #D3D3D3;
@separate_line: #D9D9D9;
@separate_line-tablet: #E7E7E7;
@special_dark-grey: #444444;
@special_dark-grey03: rgba(68, 68, 68, 0.3);
@special_dark-grey-2: #222222;
@special_grey: #CDCDCD;
@slider__control: #DCDCDC;
@special_grey-2: #666666;
@special-hover: #BABABA;

@size: 16px;

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

@radio-check-size: 30px;
@radiobutton-size-active: 13.5px;
@tick-width: 18px;
@tick-height: (@tick-width - 4px);
